name: .NET Core Desktop

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: windows-latest  

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 11.0.x

    - name: Publish
      run: |
        dotnet publish -c Release --self-contained false -o dist
        dotnet publish -c Release --self-contained true -o dist-rt

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Release
        path: dist/

    - name: Upload build artifacts (self-contained)
      uses: actions/upload-artifact@v4
      with:
        name: Release (Self-Contained)
        path: dist-rt/
